.value {
  text-align: right;
  font-size: 32px;
}

.equal-size {
  // min-width: 20%;
  width: 20%;
}

.zero-button {
  width: 40.5%;
  // width: 30%;
}

.all-buttons {
  height: 64px;
  font-size: 32px;
}

h1 {
  // padding: 3%;
  margin-top: 5%;
}

.about {
  padding: 5%;
}
