<ion-header>
  <ion-toolbar>
    <ion-title>
      Historic Calculator - A Calculator with a History
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-label class="value">
      {{valueToPrint}}
    </ion-label>
  </ion-item>

  <ion-button class="all-buttons equal-size" *ngFor="let spec of special" (click)="onButtonPress(spec)">{{spec}}</ion-button>
  <ion-button class="all-buttons equal-size" *ngIf="!buttonActive[0]" (click)="onButtonPress(signs[0])">{{signs[0]}}</ion-button>
  <ion-button class="all-buttons equal-size" color="secondary" *ngIf="buttonActive[0]" (click)="onButtonPress(signs[0])">{{signs[0]}}</ion-button>
  <div *ngFor="let numGrp of numberGroups; let i = index">
    <ng-container *ngFor="let num of numGrp">
      <ion-button class="all-buttons equal-size" (click)="onButtonPress(num)" *ngIf="num != '0'">{{num}}</ion-button>
      <ion-button class="all-buttons zero-button" (click)="onButtonPress(num)" *ngIf="num == '0'">{{num}}</ion-button>
    </ng-container>
    <ion-button class="all-buttons equal-size" color="secondary" *ngIf="buttonActive[i+1]" (click)="onButtonPress(signs[i+1])">{{signs[i+1]}}</ion-button>
    <ion-button class="all-buttons equal-size" *ngIf="!buttonActive[i+1]" (click)="onButtonPress(signs[i+1])">{{signs[i+1]}}</ion-button>
  </div>

  <ion-grid>
  <ion-row>
    <ion-col>
      <div>
        <h1><strong><u>History</u></strong></h1>
      </div>
    </ion-col>
    <ion-col>
      <div class="about">
        <ion-button color="tertiary tint" href="/about">About the Creator/App</ion-button>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>
  <!-- <ion-button color="tertiary-tint" href="/about">About the Creator/App</ion-button> -->
  <!-- <h1><strong><u>History</u></strong></h1> -->
  <ion-list>
    <ion-item *ngFor="let item of history; let i = index">{{history[history.length-i-1]}}</ion-item>
  </ion-list>

</ion-content>
